*.exe
*.log
*.stackdump
*.trs
*~
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/cov-int
/depcomp
/install-sh
/libcdio++.pc
/libcdio-*.sig
/libcdio-*.tar.bz2
/libcdio-*.tar.gz
/libcdio-*.tar.gz.directive
/libcdio-*.tar.gz.directive.asc
/libcdio.pc
/libcdio_cdda.pc
/libiso9660++.pc
/libiso9660.pc
/libtool
/libudf.pc
/ltmain.sh
/m4
/missing
/stamp-h1
/test-driver
MSVC/.vs
MSVC/Debug
MSVC/Release
MSVC/*.db
MSVC/*.opendb
MSVC/*.user
build/
