/*.dump
/*.exe
/*.exe.stackdump
/*.o
/*~
/.deps
/.libs
/Makefile
/Makefile.in
/cdda-1.raw
/cdda-2.raw
/cdda-good.raw
/cdda-jitter.raw
/cdda-underrun.raw
/cdda.bin
/check_common_fn
/check_cue.sh
/check_iso.sh
/check_iso_read.sh
/check_nrg.sh
/check_sizeof
/check_udf.sh
/isofs-m1.bin
/test_lib_driver_util
/testassert
/testassert.core
/testbincue
/testbincue.c
/testdefault
/testgetdevices
/testgetdevices.c
/testischar
/testiso9660
/testisocd
/testisocd2
/testisocd2.c
/testisocd_joliet
/testisocd_joliet.c
/testisorr
/testisorr.c
/testlinux
/testnrg
/testnrg.c
/testpregap
/testpregap.c
/testsolaris
/testtoc
/testudf
/testudf.c
