#include "windows.h"
#include "mss.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif

STRINGTABLE
     {
      1,   MSS_VERSION
     }

;// @cdep pre $requires(mss.ico)
01 ICON "mss.ico"

STRINGTABLE
BEGIN
  42,MSS_VERSION
  43,MSS_COPYRIGHT
END

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION MSS_MAJOR_VERSION,MSS_MINOR_VERSION,MSS_SUB_VERSION
PRODUCTVERSION MSS_MAJOR_VERSION,MSS_MINOR_VERSION,MSS_SUB_VERSION
FILEFLAGSMASK 0x3f
FILEFLAGS 0
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "RAD Game Tools, Inc.\000"
   VALUE "FileDescription", "Miles Sound System\000"
   VALUE "FileVersion", MSS_VERSION "\000"
   VALUE "LegalCopyright", MSS_COPYRIGHT "\000"
   VALUE "LegalTrademarks", "Miles Sound System is a trademark of RAD Game Tools, Inc.\000"
   VALUE "ProductName", "Miles Sound System\000"
   VALUE "ProductVersion", MSS_VERSION "\000"
   VALUE "Comments", "Thank you for using Miles!\000"
  }

 }

 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0x409, 1252
 }

}


