/*.exe
/*.exe.stackdump
/*.o
/*.orig
/*.rej
/*~
/.deps
/.libs
/Makefile
/Makefile.in
/cd-drive
/cd-drive.1
/cd-info
/cd-info.1
/cd-read
/cd-read.1
/cdda-player
/iso-info
/iso-info.1
/iso-read
/iso-read.1
/mmc-tool
