/*.exe
/*.o
/*~
/.deps
/.libs
/Makefile
/Makefile.in
/abs_path
/bincue
/bincue
/bincue.c
/cdda
/cdrdao
/cdrdao.c
/follow_symlink
/freebsd
/gnu_linux
/logger
/mmc_read
/mmc_write
/nrg
/nrg.c
/osx
/realpath
/solaris
/track
/track.c
/win32
