/*.dSYM
/*.exe
/*.exe.stackdump
/*.o
/*~
/.deps
/.libs
/Makefile
/Makefile.in
/audio
/cdchange
/cdio-eject
/cdtext
/cdtext-raw
/copying
/device
/discid
/drives
/eject
/extract
/isofile
/isofile2
/isofuzzy
/isolist
/isolsn
/isorr
/logging
/mmc1
/mmc2
/mmc2a
/mmc3
/sample3
/sample4
/track-01.wav
/tracks
/udf1
/udffile
